<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="w3-bar-item w3-button">Home</a></li>
		        	<li><a href="/about" class="w3-bar-item w3-button">Resume</a></li>
	        		<li><a href="/cv" class="w3-bar-item w3-button">Squaw Lift Tracker</a></li>
	        		<li><a href="/blog" class="w3-bar-item w3-button">Books I Love</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:trecox@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/trecox">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
